<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload a Book</title>
</head>
<body>
<h1>Upload a book</h1>
<form action="/digitalib/books/" th:action="@{/digitalib/books/add-book}" th:object="${book}" method="POST">
    <!-- Table to add items to Database   -->
    <p>Title: <label>
        <input type="text" th:field="*{title}"/>
    </label></p>
    <p>Author: <label>
        <input type="text" th:field="*{author}"/>
    </label></p>
    <p>Cost: <label>
        <input type="text" th:field="*{cost}"/>
    </label></p>

    <p>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </p>
</form>

</body>
</html>


