<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Upload a Book</title>
<!--TODO FA: 05 Mar :: Implement validation for the label to pop up-->
    <label style="">Duplicate book</label>
</head>
<body>
<h1>Upload a book</h1>
<form action="/digitalib/books/" th:action="@{/digitalib/books/add-book}" th:object="${book}" method="POST" >
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="text-box1">Title</span>
        </div>
        <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1" th:field=*{title} >
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="text-box2">Author</span>
        </div>
        <input type="text" class="form-control" placeholder="Author" aria-label="Username" aria-describedby="basic-addon1" th:field=*{author} >
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="text-box3">Cost (R)</span>
        </div>
        <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1" th:field=*{cost} >
    </div>
    <p>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger">Clear</button>
    </p>

</form>
<h3>Books in Database</h3>
<div class="row justify-content-center">
    <div class="col-auto">
<table id="table" class="table table-bordered">

    <thead class="thead-dark table-responsive">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.title}"></span></td>
        <td><span th:text="${book.author}"></span></td>
        <td><span th:text="${book.cost}"></span></td>
    </tr>
    </tbody>
</table>
    </div>
</div>
<style>
    h1{
      padding: 30px;
    }

    body{
    text-align: center;
    }

    form{
    text-align: center;
    display: inline-block;
    }
</style>
</body>
</html>


