<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Home Page to the Spring Project</title></head>
<body>
<h1>Hey!</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p></body>
<!--for loop apiResponse-->
<!--<p>Book <span th:text="${apiRes.id}">Our App</span></p></body>-->
<!--<p>Book title <span th:text="${apiRes.title}">Our App</span></p></body>-->
<!--<p>Book title <span th:text="${apiRes.author}">Our App</span></p></body>-->
<!--TODO: Build logic on html for printing data from api response-->
<p>Welcome to <span th:text="${appName}">Our App</span></p></body>
</html>